<table class="w3-table-all" style="margin-right:100px">
  <thead>
    <tr class="w3-dark-blue-grey w3-text-white">
      <th>EXCHANGES</th>
      <th>BUY</th>
      <th>SELL</th>
    </tr>
  </thead>

  <tr class="w3-hover-blue">
    <td>KOINEX</td>
    <td >{{koinex.prices.LTC}}</td>
    <td>{{koinex.prices.LTC}}</td>
  </tr>
  <!-- <tr>
    <td>ZEPPAY</td>
    <td >{{zeppay.buy}}</td>
    <td>{{zeppay.sell}}</td>
  </tr> -->
  <!-- <tr>
    <td>UNOCOIN</td>
    <td >{{zeppay.buy}}</td>
    <td>{{zeppay.sell}}</td>
  </tr>
  <tr>
    <td>COINSECURE</td>
    <td >{{zeppay.buy}}</td>
    <td>{{zeppay.sell}}</td>
  </tr>
  <tr>
    <td>BUYUCOIN</td>
    <td >{{buyUBTC[0].}}</td>
    <td>{{buyUBTC[0].}}</td>
  </tr> -->
</table>
