<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="w3-dark-blue-grey w3-text-white">
  <span>CRYPTOLIZER</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
        Bitcoin
    </ng-template>
  <bitcoin></bitcoin>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
     Ripple
    </ng-template>
    <ripple></ripple>

  </mat-tab>
  <mat-tab>
      <ng-template mat-tab-label>
       Etherium
      </ng-template>
      <ether></ether>
</mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
         Bitcoin Cash
        </ng-template>
       <bitcoincash></bitcoincash>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
           Litecoin 
          </ng-template>
         <litecoin></litecoin>
        </mat-tab>
</mat-tab-group>